<form action="/result" method="POST">
    <label>본인 이름:</label>
    <input type="text" name="name" required>
    <br><br>

    <p>마니또 미션 체크 (여러 개 선택 가능)</p>

    <label>
        <input type="checkbox" name="checks" value="칭찬 3개">
        칭찬
    </label><br>

    <label>
        <input type="checkbox" name="checks" value="먼저 말 걸고 대화하기">
        대화하기
    </label><br>

    <label>
        <input type="checkbox" name="checks" value="작은 간식 주기">
        간식
    </label><br>

    <label>
        <input type="checkbox" name="checks" value="먼저 인사하기">
        인사
    </label><br>

    <label>
        <input type="checkbox" name="checks" value="응원하는 메시지 적고 본인을 찾을 수 있는 힌트 남기는 쪽지 주기">
        응원 메시지
    </label><br>

    <label>
        <input type="checkbox" name="checks" value="마니또 이름으로 3행시 해서 쪽지 남기기">
        3행시
    </label><br>

    <label>
        <input type="checkbox" name="checks" value="정성을 담아서 마니또 얼굴 그려주기">
        얼굴 그리기
    </label><br>

    <label>
        <input type="checkbox" name="checks" value="도움이 필요해 보이면 도와주기 & 실드 쳐주기">
        도와주기
    </label><br>

    <label>
        <input type="checkbox" name="checks" value="좋아하는 관심사 묻기">
        관심사 묻기
    </label><br>

    <br>
    <button type="submit">제출하기</button>
</form>