<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>마니또 정보 입력</title>
</head>

<body>
    <h1>마니또 입력</h1>

    <form action="/result" method="POST">
        <label>본인 이름:</label>
        <input type="text" name="name" required>
        <br><br>

        <p>마니또 미션 체크 (1개)</p>
        <label><input type="checkbox" name="checks" value="칭찬 3개"> 칭찬 3개</label><br>
        <label><input type="checkbox" name="checks" value="먼저 말 걸고 대화하기"> 먼저 말 걸고 대화하기</label><br>
        <label><input type="checkbox" name="checks" value="작은 간식 주기"> 작은 간식 주기</label><br>
        <label><input type="checkbox" name="checks" value="먼저 인사하기"> 먼저 인사하기</label><br>
        <label><input type="checkbox" name="checks" value="응원하는 메시지 적고 본인을 찾을 수 있는 힌트 남기는 쪽지 주기"> 응원하는 메시지 적고 본인을 찾을 수
            있는 힌트 남기는 쪽지 주기</label><br>
        <label><input type="checkbox" name="checks" value="마니또 이름으로 3행시 해서 쪽지 남기기"> 마니또 이름으로 3행시 해서 쪽지 남기기</label><br>
        <label><input type="checkbox" name="checks" value="정성을 담아서 마니또 얼굴 그려주기"> 정성을 담아서 마니또 얼굴 그려주기</label><br>
        <label><input type="checkbox" name="checks" value="마니또 앞에서 노래 한 소절 부르기"> 마니또 앞에서 노래 한 소절 부르기</label><br>
        <label><input type="checkbox" name="checks" value="도움이 필요해 보이면 도와주기 & 실드 쳐주기"> 도움이 필요해 보이면 도와주기 &
            실드 쳐주기</label><br>
        <label><input type="checkbox" name="checks" value="좋아하는 관심사 묻기"> 좋아하는 관심사 묻기</label><br>

        <br>
        <button type="submit">제출하기</button>
    </form>

</body>

</html>